<nav>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a href="{{ path('app_product_index') }}" class="nav-link d-flex align-items-center gap-2">
                <img src="{{ asset('icons/package.svg') }}" alt="Termékek oldal">
                Termékek
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('app_cart_show') }}" class="nav-link d-flex align-items-center gap-2">
                <img src="{{ asset('icons/shopping-cart.svg') }}" alt="Kosár oldal">
                Kosár
            </a>
        </li>
    </ul>
</nav>