<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Webáruház{% endblock %}</title>
        <link rel="icon" href="{{ asset('icons/shopping-cart.svg') }}">

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="container">
        {% block body %}

            {% block main %}
            {% endblock %}
        {% endblock %}
    </body>
</html>
